.hero-banner {
    display: flex;
    justify-content: center; /* Center the image */
    align-items: center; /* Center vertically if needed */
    margin-top: 20px; /* Add some space above the burger on mobile */
    position: relative;
    width: 100%;
    height: auto;
    animation: zoomInOut 5s infinite; /* Add zoom animation */
  }
  
  /* Hero image zoom animation */
  @keyframes zoomInOut {
    0% {
      transform: scale(1); /* Start at normal size */
    }
    50% {
      transform: scale(1.1); /* Zoom in (grow) */
    }
    100% {
      transform: scale(1); /* Zoom out (minimize) */
    }
  }
  
  .hero {
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
    padding-block: 145px 60px;
    text-align: center;
  }
  
  /* Responsive adjustments for the hero-banner on smaller screens */
  @media (max-width: 768px) {
    .hero {
      padding-block: 100px 40px; /* Adjust padding for smaller screens */
    }
    /* .headline-1{
      font-size: 5rem;
      font-weight: bold;
      
    } */
    .hero-banner img.hero-img {
      width: 85%; /* Increase the burger image size for mobile */
      height: auto;
    }
  
    .hero-banner img.hero-img-bg {
      display: none; /* Hide the background image on mobile if not needed */
    }
  }
  
  /* Additional styling for the hero text elements */
  .hero-subtitle {
    color: var(--dark-orange);
    font-family: var(--ff-shadows-into-light);
    font-size: var(--fs-3);
    letter-spacing: 1px;
    margin-block-end: 25px;
  }
  
  .hero-title {
    color: #FAF6E3;
    font-family:  'Forum', cursive;
    font-weight: bold;
    max-width: 12ch;
    margin-inline: auto;
  }
  
  .hero-text {
    color: var(--desert-sand);
    margin-block: 15px 30px;
    max-width: 44ch;
    margin-inline: auto;
  }
  
  /* Styling for the button in the hero section */
  .hero .btn {
    margin-inline: auto;
  }
  
  .hero .btn:is(:hover, :focus) {
    background-color: var(--white);
    color: var(--black);
  }
  
  